<form #formProfile="ngForm" (ngSubmit)="onSubmit(formProfile.value)">
    <div class="form-group">
        <label for="full_name">Full name</label>
        <input type="text" id="full_name" class="form-control" required minlength="3"
        #full_name="ngModel" ngModel  name="full_name"
        >
        <small *ngIf="full_name.invalid && (full_name.dirty || full_name.touched)" class="form-text text-danger">Username is required</small>
      </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" required="" 
      #email="ngModel" ngModel name="email"
      >
      <small *ngIf="email.invalid && (email.dirty || email.touched)" class="form-text text-danger">email is required</small>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password">
    </div>
    <button [disabled]="formProfile.invalid" type="submit" class="btn btn-primary">Submit</button>
  </form>
  