<app-menu></app-menu>
<div class="bd-example">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">City</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products; let i = index">
                <th scope="row">{{ product.id }}</th>
                <td>{{ product.name }}</td>
                <td>{{ product.city }}</td>
                <td>
                    <a class="btn btn-info" [routerLink]="['/products/edit',i]">Edit</a>
                </td>
            </tr>
            <!-- <ng-template *ngIf="products.length else noRecords" >
                
            </ng-template>

            <ng-template #noRecords>
                <tr>
                    <td col-span="4"> No Data </td>
                </tr>
            </ng-template> -->
            
        </tbody>

    </table>
</div>