<!-- <app-b-property></app-b-property> -->
<!-- <app-c-attribute></app-c-attribute> -->
<!-- <app-d-event></app-d-event> -->
<!-- <app-e-two-way></app-e-two-way> -->
<!-- <app-g-ng-if></app-g-ng-if> -->
<!-- <app-h-ng-for></app-h-ng-for> -->
<!-- <app-i-ng-switch></app-i-ng-switch> -->
<!-- <app-j-ng-class></app-j-ng-class> -->
<!-- <app-k-ng-style></app-k-ng-style> -->
<!-- <app-game-numbers></app-game-numbers> -->
<!-- <app-n-input *ngFor="let product of products" 
    [in_product]="product" 
    
></app-n-input> -->
<!-- <app-o-output (answerRequest)="appComponentAnswer($event)"></app-o-output> -->
<!-- <app-menu></app-menu> -->
<!-- <nav class="navbar navbar-expand-lg bg-light" app-menu></nav>
<app-list></app-list> -->
<!-- <app-u-template-driven></app-u-template-driven> -->
<app-v-data-driven></app-v-data-driven>